.menu-button {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(256, 256, 256, 0.25);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 3px;
    transition: 0.4s;
}

.ex.bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.ex.bar2 {opacity: 0;}

.ex.bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.menu-container {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(255,255,255,0.5);
    animation: 0.4s ease-out 0s 1 slideInFromRight;
}

.rover-button-wrapper {
    margin: auto;
}

.rover-button {
    width: 300px;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: black;
}