.rover-sight {
    display: grid;
    grid-template-areas:    'top-left       top             top-right'
                            'left           center          right'
                            'bottom-left    bottom          bottom-right';
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* always the background */
    z-index: -1000;
}