.info {
    position: relative;
    grid-area: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 1.2em;
}

.top {
    position: absolute;
    top: 10px;
}

.bottom {
    position: absolute;
    bottom: 10px;
}

.info-item {
    background-color: rgba(256, 256, 256, 0.25);
    border-radius: 5px;
    padding: 2px;
    width: 250px;
    align-self: center;
}

.info-center-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
}

.info-center-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
}