.previous-image {
    grid-area: left;
    width: 100%;
    height: 100%;
    display: flex;
}

.previous-image > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transform: rotate(-90deg);
}