.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* START HAMBURGER ICON */

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(256, 256, 256, 0.25);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 3px;
  transition: 0.4s;
}

.ex.bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.ex.bar2 {opacity: 0;}

.ex.bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* END HAMBURGER ICON */